$primary-text-color: #757575;
$accent-text-color:#2196F3;
$title-text-color:#212121;
$secondary-text-color: #FFFFFF;
$background-color-body: #FFFFFF;
$background-color-hero: #C4C4C4;
$background-color-hero-button: #2196F3;
$background-color-section-workers: #F5F4FA;
$background-color-section: #FFFFFF;
$background-color-footer: #2F303A;
$background-color-filter-button: #F5F4FA;      